In [56]:
#install required libraries
!pip install pandas
!pip install zipfile
!pip install openpyxl

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\harsh\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\harsh\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2.0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\harsh\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\harsh\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\harsh\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\harsh\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 24.0 -> 24.1.2
[notice] To update, run: C:\Users\harsh\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

Defaulting to user installation because normal site-packages is not writeable

ERROR: Could not find a version that satisfies the requirement zipfile (from versions: none)
ERROR: No matching distribution found for zipfile

[notice] A new release of pip is available: 24.0 -> 24.1.2
[notice] To update, run: C:\Users\harsh\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

Defaulting to user installation because normal site-packages is not writeable
Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
   ---------------------------------------- 0.0/250.9 kB ? eta -:--:--
   --- ----------------------------------- 20.5/250.9 kB 640.0 kB/s eta 0:00:01
   --------- ----------------------------- 61.4/250.9 kB 812.7 kB/s eta 0:00:01
   --------- ----------------------------- 61.4/250.9 kB 812.7 kB/s eta 0:00:01
   ---------------------------------------- 250.9/250.9 kB 1.7 MB/s eta 0:00:00
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.5

[notice] A new release of pip is available: 24.0 -> 24.1.2
[notice] To update, run: C:\Users\harsh\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [42]:
#importing libraries
import pandas as pd
import zipfile

In [43]:
#reading the dataset as a pandas dataframe
bikesFile = pd.read_csv('london_merged.csv')

In [44]:
#exploring the data
bikesFile.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  int64
 7   is_holiday    17414 non-null  int64
 8   is_weekend    17414 non-null  int64
 9   season        17414 non-null  int64
dtypes: float64(4), int64(5), object(1)
memory usage: 1.3+ MB

In [45]:
bikesFile.shape

(17414, 10)

In [46]:
bikesFile

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,1/4/2015 0:00,182,3.0,2.0,93.0,6.0,3,0,1,3
1,1/4/2015 1:00,138,3.0,2.5,93.0,5.0,1,0,1,3
2,1/4/2015 2:00,134,2.5,2.5,96.5,0.0,1,0,1,3
3,1/4/2015 3:00,72,2.0,2.0,100.0,0.0,1,0,1,3
4,1/4/2015 4:00,47,2.0,0.0,93.0,6.5,1,0,1,3
...,...,...,...,...,...,...,...,...,...,...
17409,1/3/2017 19:00,1042,5.0,1.0,81.0,19.0,3,0,0,3
17410,1/3/2017 20:00,541,5.0,1.0,81.0,21.0,4,0,0,3
17411,1/3/2017 21:00,337,5.5,1.5,78.5,24.0,4,0,0,3
17412,1/3/2017 22:00,224,5.5,1.5,76.0,23.0,4,0,0,3
17413,1/3/2017 23:00,139,5.0,1.0,76.0,22.0,2,0,0,3

In [47]:
bikesFile.weather_code.value_counts()

weather_code
1     6150
2     4034
3     3551
7     2141
4     1464
26      60
10      14
Name: count, dtype: int64

In [48]:
bikesFile.season.value_counts()

season
0    4394
1    4387
3    4330
2    4303
Name: count, dtype: int64

In [49]:
#changing column names to understand the data easier
newColsDict = {
  'timestamp':'time',
  'cnt': 'count',
  't1': 'temp_actual_C',
  't2': 'temp_feelsLike_C',
  'hum': 'humidity_percentage',
  'wind_speed': 'windspeed_kmph',
  'weather_code': 'weather',
  'is_holiday': 'is_holiday',
  'is_weekend': 'is_weekend',
  'season': 'season'
}

#renaming the columns in the file to the new names
bikesFile.rename(newColsDict, axis=1, inplace=True)

In [50]:
#converting the humidity to percent values
bikesFile.humidity_percentage = bikesFile.humidity_percentage / 100

In [51]:
#changing the values of seasons from numbers to actual names
seasonsDict = {
  '0': 'spring',
  '1': 'summer',
  '2': 'autumn',
  '3': 'winter'
}

#changing the datatype of the seasons column from number to string
bikesFile.season = bikesFile.season.astype('str')

#mapping the new values to the season column
bikesFile.season = bikesFile.season.map(seasonsDict)

In [52]:
bikesFile.head()

,time,count,temp_actual_C,temp_feelsLike_C,humidity_percentage,windspeed_kmph,weather,is_holiday,is_weekend,season
0,1/4/2015 0:00,182,3.0,2.0,0.930,6.0,3,0,1,winter
1,1/4/2015 1:00,138,3.0,2.5,0.930,5.0,1,0,1,winter
2,1/4/2015 2:00,134,2.5,2.5,0.965,0.0,1,0,1,winter
3,1/4/2015 3:00,72,2.0,2.0,1.000,0.0,1,0,1,winter
4,1/4/2015 4:00,47,2.0,0.0,0.930,6.5,1,0,1,winter

In [53]:
#changing the values of weather from numbers to actual names
weatherDict = {
  '1': 'Clear',
  '2':'Scattered Clouds',
  '3': 'Broken Clounds',
  '4': 'Cloudy',
  '7': 'Rain',
  '10': 'Rain with thunderstorm',
  '26': 'Snowfall'
}

#changing the datatype of the weather column from number to string
bikesFile.weather = bikesFile.weather.astype('str')

#mapping the new values to the weather column
bikesFile.weather = bikesFile.weather.map(weatherDict)

In [54]:
bikesFile.head()

,time,count,temp_actual_C,temp_feelsLike_C,humidity_percentage,windspeed_kmph,weather,is_holiday,is_weekend,season
0,1/4/2015 0:00,182,3.0,2.0,0.930,6.0,Broken Clounds,0,1,winter
1,1/4/2015 1:00,138,3.0,2.5,0.930,5.0,Clear,0,1,winter
2,1/4/2015 2:00,134,2.5,2.5,0.965,0.0,Clear,0,1,winter
3,1/4/2015 3:00,72,2.0,2.0,1.000,0.0,Clear,0,1,winter
4,1/4/2015 4:00,47,2.0,0.0,0.930,6.5,Clear,0,1,winter

In [57]:
#generating an excel file with the dataframe for visualizations
bikesFile.to_excel('bikes_final.xlsx', sheet_name='Data')